<ion-view view-title="Change Password" class="" cache-view="false">
    <ion-content class="padding" overflow-scroll="false">

        <div>

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="UserUpdate.Password">
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="UserUpdate.CPassword">
                </label>
            </div>

            <button class="button button-block button-assertive" ng-click="changePassword()" style="color: black">
                Change Password
            </button>

        </div>
    </ion-content>
</ion-view>